$body-color: slateblue;

body {

  font-family: sans-serif;
}
.header,.footer {
  text-align: center;
  font-size:15px;
  background-color: lightpink;
  color:WHITE;
  width:100%;
  height: 75px;
}
.foot {
 
  vertical-align: middle;
}
.block-left {
  padding:20px;
  border-right-color:skyblue;
  border-right-width: 1px;
  border-right-style: solid;
  position:flow; left:30px; top: 90px; width:70%; height:40%;
}
.block-right {
  position:absolute; right:5px; top:80px; width: 25%; height:75%;
}

table,
td,
th,
tr{
  border-collapse:collapse;
  border: 1px solid black;
}
.tab {
  color:rebeccapurple
}
#col {
  background-color: wheat;
}
.table2 {
  width:480px;
  height:278px;
}
#red {
  background-color:red;
}
#yellow {
  background-color: yellow;;
}
#green {
  background-color: green;
}
#brown {
  background-color: brown;
}
#grey {
  background-color: grey;
}
#skyblue {
  background-color: skyblue;
}
#purple {
  background-color: purple;
}
#orange {
  background-color: orange;
}
#khaki {
  background-color:khaki;
}
#blue {
  background-color:blue;
}
#olive {
  background-color: olive;
}
#olivedrab {
  background-color:olivedrab
  
}
#peru 
{
  background-color: peru;
}
#pink {
  background-color: pink;
}
#salmon {
  background-color:salmon;
}
a {
  color:maroon;
}